# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List popular languages for Data Science
* List commonly used libraries used for Data Science
* a few examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. ggplot2
6. dplyr

| Data Science Tools | 
| -------------------| 
| Anaconda| 
| Apache Spark |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply two numbers then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
m= 200
n=60
h=m/n
h

3.3333333333333335

## Author : 
Salem